@config "../../tailwind.config.ts";
@import 'tailwindcss';

@layer base {
	html {
		scroll-behavior: smooth;
	}

	body {
		 
		background-color: #f8f9fc; 
		color: #1f2937; 

		
		@variant dark {
			background-color: #1a1a2e; 
			color: #e5e7eb; 
		}
	}
}


body {
	font-family: var(--font-sans);
	transition: background-color 0.3s ease, color 0.3s ease;
}


h3 {
	color: #3b82f6; 
	font-weight: 700;
}

a {
	color: #2563eb; 
	text-decoration: none;
}
a:hover {
	color: #1e40af; 
	text-decoration: underline;
}
